@page "/categories"

<div class="app-page">

    <PageHeader Title="Categorias"
                SubTitle="Quais categorias foram os gastos"
                IconName="ph ph-tag-simple"/>

    <form class="app-card category-edit-card @IsEditCss"
          @onsubmit="AddCategory">

        <div style="display: grid; grid-template-columns: 1fr auto; gap: 1rem; align-items: center">
            <h2 class="app-title" style="margin-bottom: 1rem">
                @if (_id is null)
                {
                    <span>Nova Categoria</span>
                }
                else
                {
                    <span>Editar categoria</span>
                }
            </h2>

            @if (_id is not null)
            {
                <button class="app-button" @onclick="CancelEditCategory">Cancelar</button>
            }
        </div>

        <div style="display: grid; grid-template-columns: auto 1fr auto; gap: 1rem; align-items: flex-end">

            <SelectCategoryIcon @bind-Value="_logo"/>

            <input id="name-form-id"
                   placeholder="Escreva o nome..."
                   class="app-input"
                   style="width: 100%"
                   @ref="_nameReference"
                   @bind="_name"/>

            <button type="submit" class="app-button">
                @if (_id is null)
                {
                    <span>Criar</span>
                }
                else
                {
                    <span>Editar</span>
                }
            </button>

        </div>

    </form>


    <div
        style="justify-content: center; display: grid; grid-template-columns: repeat(auto-fit, minmax(10rem, 18rem)); gap: 1rem">

        @foreach (var item in categoryRepo.Categories)
        {
            <AppCategoryItem
                @key="item.Id"
                Category="item"
                OnRemoved="RemoveCategory"
                OnEdited="EditCategory"
                HasActionButtons="@(_id is null)"
            />
        }

    </div>

</div>