@page "/reports"
@using BlazorTrip.Application.Dto
@using BlazorTrip.Application.ViewModels
@using BlazorTrip.Domain.Models
@inject ReportPageViewModel ViewModel
@implements IDisposable

<div class="app-page">

    <PageHeader
        Title="Relatórios"
        SubTitle="Divisão de contas para cada membro da viagem"
        IconName="ph ph-table"/>

    <div style="margin-bottom: 2rem;">
        <h2 class="app-text -bold -sm" style="margin-bottom: 0.25rem">Selecione a pessoas</h2>
        <AppSelectButtons TItem="Person"
                          Items="ViewModel.People"
                          SelectText="p => p.Name"
                          @bind-Value="ViewModel.SelectedPerson"/>
    </div>

    @if (ViewModel.Report is not null)
    {
        <AppReportCard
            Report="ViewModel.Report"
            OnDetailTransaction="OpenPreview"/>
    }
</div>

<AppModal Visible="ViewModel.IsPreviewVisible" VisibleChanged="ClosePreview">
    @if (ViewModel.PreviewTransaction is not null)
    {
        <AppTransactionDetail
            Transaction="ViewModel.PreviewTransaction"
            OnClose="ClosePreview"/>
    }
</AppModal>

@code
{
    protected override void OnInitialized()
    {
        ViewModel.PropertyChanged += UpdateUi;
        ViewModel.LoadCommand.Execute(null);
    }

    public void Dispose()
    {
        ViewModel.PropertyChanged += UpdateUi;
    }


    private void OpenPreview(TransactionDto transaction)
    {
        ViewModel.PreviewTransaction = transaction;
    }

    private void ClosePreview()
    {
        ViewModel.PreviewTransaction = null;
    }

    private void UpdateUi(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);
}
