@page "/reports"
@using BlazorTrip.Domain

<div class="app-page">

    <PageHeader
        Title="Relatórios"
        SubTitle="Divisão de contas para cada membro da viagem"
        IconName="ph ph-table"/>

    <div  style="margin-bottom: 2rem;">
        <h2 class="app-title" style="margin: 0.5rem">Selecione a pessoa</h2>
        <ul style="display: flex; flex-wrap: wrap; gap: 1rem">
            <AppSelectButtons TItem="Person"
                              Items="_people"
                              SelectText="p => p.Name"
                              Value="_selectedPerson"
                              ValueChanged="OnPersonSelected"/>
        </ul>
    </div>

    @if (_report is not null)
    {
        <AppReportCard
            Report="_report"
            OnDetailTransaction="OpenPreview"/>
    }
</div>

<AppModal @bind-Visible="_previewIsVisible">
    @if (_previewTransaction is not null)
    {
        <AppTransactionDetail
            Transaction="_previewTransaction"
            OnClose="ClosePreview"/>
    }
</AppModal>
