@inherits LayoutComponentBase
<div class="page">
    <NavMenu/>

    <div style="overflow-y: auto" class="app-dot-texture">
        <main style="padding: 2rem 3rem; max-width: 70rem; margin: 0 auto; width: 100%">
            @Body
        </main>
    </div>
</div>