<aside class="nav-menu">
    <h1 class="app-title -is-1 nav-menu__title">
        Minha Viagem
    </h1>

    <nav class="nav-menu__container">
        <NavLink class="nav-menu__link" href="/people" Match="NavLinkMatch.All">
            <i class="ph ph-users-three"></i>
            <span>Participantes</span>
        </NavLink>
        <NavLink class="nav-menu__link" href="/categories">
            <i class="ph ph-tag-simple"></i>
            <span>Categorias</span>
        </NavLink>
        <NavLink class="nav-menu__link" href="/transactions">
            <i class="ph ph-receipt"></i>
            <span>Lançamentos</span>
        </NavLink>
        <NavLink class="nav-menu__link" href="/reports">
            <i class="ph ph-table"></i>
            <span>Relatórios</span>
        </NavLink>
    </nav>

</aside>