<div class="app-card app-category-item">

    <i class="ph @Category.Logo" style="font-size: 2rem"></i>

    <span class="app-category-item__name">@Category.Name</span>

    <div style="display: flex; gap: 0.25rem">
        @if (HasActionButtons)
        {
            <button class="app-icon-button" @onclick="Edit">
                <i class="ph ph-pen"></i>
            </button>

            <button class="app-icon-button" @onclick="Remove">
                <i class="ph ph-x"></i>
            </button>
        }
    </div>

</div>