<div class="app-progress-container">
    <div class="app-progress-bar"
         role="progressbar"
         style="width: @PercentageString;"
         aria-valuenow="@Percentage"
         aria-valuemin="0"
         aria-valuemax="100">
    </div>
    
    <span class="app-progress-text">@PercentageString</span>
</div>
