.c-person {
    display: grid;
    grid-template-columns: 15rem 1fr;
    gap: 1rem;
    padding: 0;
    background: oklch(from var(--app-sys-color-primary) l c h / 2%);
}

.c-person:not(:first-child) {
    border-top: 1px solid oklch(from var(--app-sys-color-primary) l c h / 12%);
}

.c-person:not(:last-child) {
    border-bottom: 1px solid oklch(from var(--app-sys-color-primary) l c h / 12%);
}

.c-person-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    padding: 1.5rem;
}


.c-person-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border-left: 1px solid oklch(from var(--app-sys-color-primary) l c h / 12%);*/
}

.c-person-transaction {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
    padding: 0.5rem 1rem;

    &:not(:last-child) {
        border-bottom: 1px solid oklch(from var(--app-sys-color-primary) l c h / 10%);
    }
}

.c-amount-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}