.c-person {
    display: flex;
    flex-direction: column;
    padding: 0;
    background: oklch(from var(--app-sys-color-primary) 0.97 c h);
    border: 1px solid var(--app-sys-color-outline);
}


.c-person-header {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto 1fr auto auto;

    gap: 1.5rem;
    align-items: center;
    padding: 1rem 1.5rem;

    &.-opened {
        border-bottom: 1px solid var(--app-sys-color-outline);
    }
}


.c-person-content {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 1rem;
    background: oklch(from var(--app-sys-color-primary) 0.96 c h);

    /*border-left: 1px solid oklch(from var(--app-sys-color-primary) l c h / 12%);*/
}

.c-person-transaction {
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
    padding: 0.5rem 1rem;

    &:nth-child(odd) {
        background: oklch(from var(--app-sys-color-primary) 0.92 c h);
    }
}

.c-amount-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.-rotated {
    transform: rotate(90deg);
}

.app-person-shares {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.app-person-shares__header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--app-sys-color-outline);
}

.app-person-shares__footer {
    border-top: 1px solid var(--app-sys-color-outline);
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
}