<div class="page-header">
    <i class="@IconClass"></i>

    <div class="page-header__container">
        <h3 class="app-title -lg">@Title</h3>
        <p class="app-text -sm">@SubTitle</p>
    </div>
</div>