.page-header {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
    align-items: center;
}

.page-header__icon {
    font-size: 4rem;
}

.page-header__container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}