.person-item {
    color: var(--app-sys-color-primary);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    padding: 0.5rem 1rem;
    height: 3.5rem;
    align-items: center;
}

.person-item__action-button {
    color: var(--app-sys-color-primary);
    background: transparent;
    border: none;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}