<div class="person-item app-card">
    <i class="icon-user"></i>
    
    <span>@Person.Name</span>

    <button class="app-icon-button" @onclick="Remove">
        <i class="icon-x"></i>
    </button>
</div>