.select-category-icon-grid:popover-open {
    display: grid;

    @starting-style {
        transform: translateY(-0.5rem);
        opacity: 0;
    }
}

.select-category-icon-grid {
    position-anchor: --select-category-icon-button;
    grid-template-columns: repeat(auto-fit, 2.5rem);
    max-width: 20rem;
    padding: 0.5rem;
    border: 4px solid var(--ds-sys-color-primary);
    box-shadow: 6px 6px 0 0 var(--ds-sys-color-primary);
    gap: 0.5rem;
    background: oklch(0.992 0.014 92.585);
    margin: 0;
    margin-top: 0.25rem;
    top: anchor(bottom);
    left: anchor(left);
    right: unset;
    bottom: unset;
    transition: 0.3s ease;
}

.select-category-icon {
    aspect-ratio: 1 / 1;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: 0.3s ease;

    &:hover {
        background-color: oklch(from var(--ds-sys-color-primary) l c h / 7%);
    }

    &:has(input:checked) {
        color: white;
        background-color: oklch(from var(--ds-sys-color-primary) l c h / 80%);
    }

    i {
        font-size: 1.5rem;
    }

    input {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
}

.select-category-button {
    anchor-name: --select-category-icon-button;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: "Sora", sans-serif;
    transition: 0.3s ease;
    border: 2px solid var(--ds-sys-color-primary);
    background: var(--ds-sys-color-background);

    &:hover {
        background: oklch(from var(--ds-sys-color-primary) l c h / 10%);
    }
}